# Firebase service account key
serviceAccountKey.json

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Bin directory
bin/

# Dependency directories (Go modules handles this, but good practice)
vendor/

# Environment variales
.env